*{
    margin: 0;
    padding: 0;
}



i {
    position: relative;
    width: 60px;
    height: 60px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 1em;
    border-radius: 15%;
    transition: all .4s ease;
    z-index: 999;

} 
 i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15%;
    transform: scale(1.1);
    z-index: -1;
    transition: all .4s;
 }
 
 i:nth-child(2)::before {
     background: #25d366;
 }

 i:nth-child(3)::before {
    background: red;

}

i:nth-child(4)::before {
}

i:hover::before {
    transform: translateY(18px) scaleX(0.6) scaleY(0.8);
    filter: blur(10px);
}

i:hover:nth-child(1) {
    color: #c32aa3;
    text-shadow: 0 0 30px #c32aa3;
}

i:hover:nth-child(2) {
    color: #25d366;
    text-shadow: 0 0 30px #25d366;
}

i:hover:nth-child(3) {
    color: #c32aa3;
    text-shadow: 0 0 30px red
;}
 

.home {
    background-repeat: no-repeat;
    color: white;
    font-family: "Open Sans";
    font-size: 1.4rem;
    background-size: cover ;
    background-image: url("https://images.pexels.com/photos/32237/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 100%;
    min-height:665px;
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    
    
} 

.home-introduction {
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 18rem;
} 








