
 .navBarActive {
  background: linear-gradient(90deg, rgb(160, 150, 150), black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin: 0% 0%;
  position: sticky;
  top: 0;
  font-size: 1.0rem;
  text-decoration: none;
  
} 

 a {
  margin: 1% 3%;
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style-type: none ;
}


.nav-links:hover {
  color: white;
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.nav-links:hover::after {
    width: 100%;
    transition: width .3s;
    color: white;
} 

 .nav-link {
  margin: 1.5% 3%;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-right: 50rem;
  z-index: 1;
}



